@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

canvas {
  margin-top: -90px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 0 10px;
  padding-bottom: 50px;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side h1 {
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
}

.discord-container {
  font: normal normal 600 normal 16px/20px Whitney, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  background-color: #323439;
  margin-bottom: 50px;
  padding: 15px 20px;
  border-radius: 4px;
  width: 400px;
}

.discord-container h2 {
  font-size: 16px;
  padding-bottom: 10px;
  color: #b8b8b7;
}

.discord-container .img-container {
  width: 50px;
  display: flex;
  align-items: center;
}

.discord-container .img-container img {
  width: 100%;
}

.discord-container .server-name {
  color: #f5f4f3;
}

.discord-container .info-container {
  display: flex;
  align-items: center;
}

.discord-container .info {
  width: 100%;
  padding-left: 10px;
}

.discord-container .members {
  color: #95999e;
  font-size: 12px;
}

.discord-container .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16af56;
  cursor: pointer;
  color: #f6f6f7;
  height: 40px;
  border-radius: 4px;
  width: 110px;
}

.discord-container .cta:hover {
  background-color: #107c3d;
}

.d-flex {
  display: flex;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: #323439;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

::-webkit-color-swatch,
::-moz-color-swatch {
  border-color: transparent;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 20px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

.btn:hover {
  background-color: #f5f7f9;
  color: #53e3a6;
}

.generate-btn,
.copy-btn {
  width: 100%;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.btn-invite {
  width: 90px !important;
}

.colors-container {
  margin-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.depth {
  width: 100%;
}

.depth input {
  width: 100%;
  margin-top: 5px;
}

.copied-successfully {
  margin-top: 15px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  display: none;
}

.headerG {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;
}

@media (max-width: 1300px) {
  .flex-container {
    flex-direction: column;
  }
  canvas {
    margin-top: -50px;
  }
  .generate-btn,
  .copy-btn {
    width: fit-content;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
